{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="/site_media/auth.css" type="text/css" />
{% endblock %}
{% block content %}
<div class="auth">
  <div id="container">
    <div id="header">
      <div id="branding">
        <h1 id="login-title">SugarCream Login</h1>
      </div>
    </div>
    <div id="content" class="colM">
      <form method="post" action=".">
        {% csrf_token %}
        <div class="form-row">
          <p><label for="id_username">Username:</label> {{ form.username }}</p>
        </div>
        <div class="form-row">
          <p><label for="id_password">Password:</label> {{ form.password }}</p>
        </div>
        <input type="hidden" name="next" value="/" />
        <div class="submit-row">
          <input type="submit" value="Log in" />&nbsp;&nbsp;
          <a href="/register/">Sign up</a>
        </div>
      </form>
      <script type="text/javascript">
        document.getElementById('id_username').focus()
      </script>
    </div>
  </div>
</div>
{% endblock %}
