{% extends "base.html" %}
{% block styles %}
<style type="text/css">
  /* Override some defaults */
  html, body {
    background-color: #eee;
  }
  body {
    padding-top: 40px;
  }
  .container {
    width: 300px;
  }
 
  /* The white background content wrapper */
  .container > .content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
  }
 
  .register-form {
    margin-left: 65px;
  }
 
  legend {
    margin-right: -50px;
    font-weight: bold;
    color: #404040;
  }
</style>
{% endblock %}
{% block content %}
<div class="container">
  <div class="content">
    <div class="row">
      <div class="register-form">
        <h2>Registration</h2>
        <form method="post" action=".">
          {% csrf_token %}
          <fieldset>
            <div class="control-group">
              <input id="id_username" type="text" name="username"
                     maxlength="30" placeholder="Username"/>
              {% if form.errors.username %}
              {{ form.errors.username }}
              {% endif %}
            </div>
            <div class="control-group">
              <input type="password" name="password1" id="id_passowrd"
                     placeholder="Password" />
            </div>
            <div class="control-group">
              <input type="password" name="password2" id="id_password2"
                     placeholder="Confirm Password" />
              {% if form.errors.password2 %}
              {{ form.errors.password2 }}
              {% endif %}
            </div>
            <div class="control-group">
              <input type="text" name="email" id="id_email"
                     placeholder="E-mail" />
              {% if form.errors.email %}
              {{ form.errors.email }}
              {% endif %}
            </div>
            <button class="btn btn-primary" type="submit">Sign up</button>
            <button class="btn btn-primary" type="reset">Reset</button>
            <input type="hidden" name="next" value="/login/" />
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
