{% extends "base.html" %}
{% block styles %}
<style type="text/css">
  .sidebar {
    padding-left: 20px;
  }

  .sidebar-title {
    padding-left: 15px;
  }

  .sidebar-nav {
    padding: 9px 0;
  }
</style>
{% endblock %}
{% block content %}
<div id="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="sidebar">
        <div class="well sidebar-nav">
          <h3 class="sidebar-title"><a href="/p/{{ project }}/">{{ project }}</a></h3>
          <ul id="sidemenu" class="nav nav-list">
            <li class="nav-header">Backlog</li>
            <li id="product-backlog"><a href="/p/{{ project }}/productbacklog/">Product Backlog</a></li>
            <li id="sprint-backlog"><a href="/p/{{ project }}/sprintbacklog/">Sprint Backlog</a></li>
            <li class="nav-header">Dashboard</li>
            <li id="user-story"><a href="/p/{{ project }}/userstory/">User Story</a></li>
            <li id="issue-tracker"><a href="/p/{{ project }}/issuetracker/">Issue Tracker</a></li>
            <li id="documents"><a href="/p/{{ project }}/documents/">Documents</a></li>
            <li class="nav-header">Meeting</li>
            <li id="meeting-log"><a href="/p/{{ project }}/meetinglog/">Meeting Log</a></li>
            <li id="daily-scrum"><a href="/p/{{ project }}/dailyscrum/">Daily Scrum</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="span9">
      {% block projectbody %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
