{% extends "project.html" %}
{% block scripts %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/site_media/js/bootstrap-tab.js"></script>
<script type="text/javascript" src="/site_media/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/site_media/js/bootstrap-transition.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#product-backlog").addClass("active");

    $.getJSON("/p/{{ project }}/backlogs/", function(backlogs) {
      $.each(backlogs, function(category, items) {
        $.each(items, function(dummy, item) {
          $.each(item, function(attr, value) {
            if(attr == "name") {
              $("#" + category + " ul").append("<li class=" + category + ">" + value + "</li>");
            }
          });
        });
      });
    });

    $("#ProductBacklogTab a").click(function(e) {
      e.preventDefault();
      $(this).tab("show");
    });

    $("AddBacklogModal").modal();
  });
</script>
{% endblock %}
{% block pstyles %}
  .backlog {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .backlog li {
    margin: 3px 1px 1px;
    padding: 0.2em;
    font-size: 1.4em;
    height: 18px;
    border: 1px solid #d3d3d3;
  }

  .todo {
    background: #e6e6e6;
  }

  .doing {
    background: #a0a0ff;
  }

  .done {
    background: #a0ffa0;
  }
{% endblock %}
{% block projectbody %}
<div class="row-fluid">
  <div class="span12">
    <ul id="ProductBacklogTab" class="nav nav-tabs">
      <li class="active"><a href="#todo" data-toggle="tab">Todo</a></li>
      <li><a href="#doing" data-toggle="tab">In Progress</a></li>
      <li><a href="#done" data-toggle="tab">Done</a></li>
    </ul>
  </div>
</div>
<div class="row-fluid">
  <div class="span4">
    <div id="ProductBacklogTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="todo">
        <ul class="backlog">
        </ul>
      </div>
      <div class="tab-pane fade" id="doing">
        <ul class="backlog">
        </ul>
      </div>
      <div class="tab-pane fade" id="done">
        <ul class="backlog">
        </ul>
      </div>
    </div>
  </div>
  <div id="detail" class="span8">
    Backlog item detail's here.
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    &nbsp;
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="modal hide fade" id="AddBacklogModal">
      <form method="post" action=".">
        {% csrf_token %}
        <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
          <h3>Add Backlog</h3>
        </div>
        <div class="modal-body">
          <div class="control-group">
            <input id="id_name" type="text" name="name"
                   maxlength="64" placeholder="Backlog Name" />
          </div>
          <div class="control-group">
            <input id="id_summary" type="text" name="summary"
                   maxlength="256" placeholder="Backlog Summary" />
          </div>
          <div class="control-group">
            <input id="id_description" type="text" name="description"
                   placeholder="Backlog description" />
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" type="reset">Reset</a>
          <button class="btn btn-inverse" type="submit">Create</a>
        </div>
      </form>
    </div>
    <div id="addBacklog" class="pull-right">
      <p><a data-toggle="modal" class="btn btn-inverse" href="#AddBacklogModal">Add Backlog</a></p>
    </div>
  </div>
</div>

{% endblock %}
