{% extends "project.html" %}
{% block scripts %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script type="text/javascript" src="/site_media/js/bootstrap-tab.js"></script>
<script type="text/javascript" src="/site_media/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/site_media/js/bootstrap-transition.js"></script>
<script type="text/javascript" src="/site_media/js/bootstrap-dropdown.js"></script>
<script type="text/javascript">

  $(document).ready(function() {
    $("#product-backlog").addClass("active");

    $.getJSON("/p/{{ project }}/backloglist/", function(backlogs) {
      $.each(backlogs, function(category, items) {
        $.each(items, function(dummy, item) {
          var priority;
          if(item["priority"] == 0)
            priority = "high-priority";
          else if(item["priority"] == 1)
            priority = "medium-priority";
          else
            priority = "low-priority";
          if(category != "todo")
            priority = "doing-done";
          li = "<li class=" + priority + ">" + item["name"] + "</li>";
          $("#" + category + " ul").append(li);
        });
      });
    });

    $("#ProductBacklogTab a").click(function(e) {
      e.preventDefault();
      $(this).tab("show");

      if (this.innerText == "Todo")
        $("#modify-backlog").show();
      else
        $("#modify-backlog").hide();
    });

    $(".backlog").selectable({
      selected: function(event, ui) {
        var uri = "/p/{{ project }}/backlogdetail/" + ui.selected.innerText;
        $.getJSON(uri, function(detail) {
          $.each(detail, function(attr, value) {
            $("#backlog_" + attr).text(value);
          });
        });
      }
    });
  });

  function modifyBacklog() {
    selected = $("#todo .ui-selected");
    if(selected.size() != 1) {
      alert("One item must be selected.");
      return false;
    }

    var uri = "/p/{{ project }}/backlogdetail/" + selected[0].innerText;
    $.getJSON(uri, function(detail) {
      $.each(detail, function(attr, value) {
        $("#ModifyBacklogModal #id_" + attr).val(value);
      });
    });
    $("#ModifyBacklogModal").modal("show");
  }

  function setPriority(modal, priority) {
    $(modal + " #id_priority").val(priority);
  }
</script>
{% endblock %}
{% block pstyles %}
  .backlog {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .backlog li {
    margin: 3px 1px 1px;
    padding: 0.2em;
    font-size: 1.4em;
    height: 18px;
    border: 1px solid #d3d3d3;
  }

  .high-priority {
    background: #e63333;
  }

  .medium-priority {
    background: #33e633;
  }

  .low-priority {
    background: #3333e6;
  }

  .doing-done {
    background: #e6e6e6;
  }

  .backlog .ui-selecting {
    background: #feca40;
  }

  .backlog .ui-selected {
    background: #f39814;
    color: white;
  }

  .input-xxlarge {
    width: 520px;
  }
{% endblock %}
{% block projectbody %}
<div class="row-fluid">
  <div class="span12">
    <ul id="ProductBacklogTab" class="nav nav-tabs">
      <li class="active"><a href="#todo" data-toggle="tab">Todo</a></li>
      <li><a href="#doing" data-toggle="tab">In Progress</a></li>
      <li><a href="#done" data-toggle="tab">Done</a></li>
    </ul>
  </div>
</div>
<div class="row-fluid">
  <div class="span4">
    <div id="ProductBacklogTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="todo">
        <ul class="backlog">
        </ul>
      </div>
      <div class="tab-pane fade" id="doing">
        <ul class="backlog">
        </ul>
      </div>
      <div class="tab-pane fade" id="done">
        <ul class="backlog">
        </ul>
      </div>
    </div>
  </div>
  <div id="detail" class="span8">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd id="backlog_name"></dd>
      <dt>Summary</dt>
      <dd id="backlog_summary"></dd>
      <dt>Description</dt>
      <dd id="backlog_description"></dd>
      <dt>Owner</dt>
      <dd id="backlog_assignedTo"></dd>
    </dl>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    &nbsp;
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    {% if owner %}
    <div class="modal hide fade" id="AddBacklogModal">
      <form method="post" action=".?am=add">
        {% csrf_token %}
        <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
          <h3>Add Backlog</h3>
        </div>
        <div class="modal-body">
          <div class="control-group">
            <input class="input-xxlarge" id="id_name" type="text" name="name"
                   maxlength="64" placeholder="Backlog Name" />
          </div>
          <div class="control-group">
            <input class="input-xxlarge" id="id_summary" type="text" name="summary"
                   maxlength="256" placeholder="Backlog Summary" />
          </div>
          <div class="control-group">
            <textarea class="input-xxlarge" id="id_description" type="text"
                      name="description" placeholder="Backlog description"></textarea>
          </div>
          <div class="control-group">
            <div class="btn-group dropup">
              <a class="btn dropdown-toggle" data-toggle="dropdown"
                 href="#">Priority<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="javascript:setPriority('#AddBacklogModal', 'High')">High</a></li>
                <li><a href="javascript:setPriority('#AddBacklogModal', 'Medium')">Medium</a></li>
                <li><a href="javascript:setPriority('#AddBacklogModal', 'Low')">Low</a></li>
              </ul>
              <input id="id_priority" name="priority" type="text" readonly="readonly" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" type="reset">Reset</button>
          <button class="btn btn-inverse" type="submit">Create</button>
        </div>
      </form>
    </div> <!-- AddBacklog -->
    <div class="modal hide fade" id="ModifyBacklogModal">
      <form method="post" action=".?am=modify">
        {% csrf_token %}
        <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
          <h3>Modify Backlog</h3>
        </div>
        <div class="modal-body">
          <div class="control-group">
            <input class="input-xxlarge" id="id_name" type="text" name="name"
                   maxlength="64" placeholder="Backlog Name" readonly="readonly" />
          </div>
          <div class="control-group">
            <input class="input-xxlarge" id="id_summary" type="text" name="summary"
                   maxlength="256" placeholder="Backlog Summary" />
          </div>
          <div class="control-group">
            <textarea class="input-xxlarge" id="id_description" type="text"
                      name="description" placeholder="Backlog description"></textarea>
          </div>
          <div class="control-group">
            <div class="btn-group dropup">
              <a class="btn dropdown-toggle" data-toggle="dropdown"
                 href="#">Priority<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="javascript:setPriority('#ModifyBacklogModal', 'High')">High</a></li>
                <li><a href="javascript:setPriority('#ModifyBacklogModal', 'Medium')">Medium</a></li>
                <li><a href="javascript:setPriority('#ModifyBacklogModal', 'Low')">Low</a></li>
              </ul>
              <input id="id_priority" name="priority" type="text" readonly="readonly" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" type="reset">Reset</button>
          <button class="btn btn-inverse" type="submit">Modify</button>
        </div>
      </form>
    </div> <!-- Modify Backlog -->

    <div id="ManageBacklog" class="pull-right">
      <p>
        <a data-toggle="modal" class="btn btn-inverse" href="#AddBacklogModal">Add Backlog</a>
        <a id="modify-backlog" data-toggle="modal" class="btn btn-inverse" href="javascript:modifyBacklog()">Modify Backlog</a>
      </p>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
